* {

    font-family: 'Work Sans', sans-serif;
}


/* body {
    margin: 0 auto;
    max-width: 100%;
} */




/* header */
.header {
    height: 1322px;
    width: 100%;
    background-color: #FF900E1A;
    display: grid;
    justify-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 640px;
}

.navigation-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;

}

.link {
    display: flex;
    align-items: center;
}

.link-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    gap: 75px;

}

.link-list li {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;



}

.link-list a {
    text-decoration: none;
    color: #424242;
}


.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 862px;
    text-align: center;
    margin-bottom: 100px;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-top: 0px;

}

.header-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.header-pic img {
    width: 1440px;
}

/*---------------------
              header end
 -----------------------------*/




/* -------------------------------------
                     our-feature
 ----------------------------------------- */
.our-features {
    display: flex;
    margin-top: 90px;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;

}

.feature-info {
    width: 537px;

}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;

}

.span-1 {
    color: #131313;
    font-weight: 700;
}

.span-2 {
    color: #FF900E;
    font-weight: 700;
}

.feature-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.feature-button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 35px;
}

/* ----------------------------------
                 love-enjoy
--------------------------------------- */
.love-enjoy {
    display: flex;
    gap: 145px;
    justify-content: center;
    margin-top: 130px;
}

.love-enjoy-info {
    width: 586px;
    height: 982px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.blogs {
    width: 586px;
    height: 744px;
}

.love-enjoy-title {
    width: 468px;
    height: 106px;
    border-left: 6px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding: 5px 0px 5px 21px;
}

.blogs div {

    width: 526px;
    height: 110px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
}


.blogs h3 {
    font-weight: 650;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-top: 0px;
}

.blogs p,
.love-enjoy-descrip {
    width: 514px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}




/*-----------section  button------- */

.button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 110px;

}

.button button {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    text-align: center;
}




.button .span-year {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #FFFFFF;

}

.button .span-exp {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;

}

/* some fact */
.some-facts {
    width: 550px;
    height: 130px;
    margin-left: 90px;

}

.fact-title h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin: 0px;
}

.fact-para p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}




/* activity box */

.activity-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.box {
    display: grid;
    align-content: center;
    justify-items: center;
    width: 245px;
    height: 245px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.box h2 {
    margin: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    /* text-align: center; */
    color: #424242;
}

.box h3 {
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;

}

/* our-sponsors */
.our-sponsors {
    display: grid;
    justify-items: center;
    margin-top: 180px;
    row-gap: 50px;
}


.sponsors-info {
    width: 545px;
    height: 130px;
    text-align: center;
}

.sponsors-title {
    margin: 0px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sponsors-descrip {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sponsors-logo {
    display: flex;
    gap: 100px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}


.sponsors-logo>div>img {
    mix-blend-mode: Luminosity;
}



/* footer */
.footer {
    margin-top: 130px;
    margin-bottom: 230px;
    display: flex;
    justify-content: center;
}

.footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
}

.footer p {
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}




@media only screen and (max-width: 688px) {
    body {}

    .khalid {
        display: none;
    }

    .header {
        height: 1100px;
    }

    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
        height: 400px;
    }

    .navigation-title {
        margin-bottom: 25px;
    }

    .link {
        justify-content: center;
    }

    .link-list {
        flex-direction: column;
        text-align: center;
        gap: 45px;

    }

    .link-list a {
        color: rgb(246, 101, 4);
    }



    .header-info {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 0px;
    }

    .header-paragraph {
        margin: 0px;
    }

    .header-pic img {
        width: 100%;
    }

    .our-features {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-info {
        width: 100%;
        text-align: center;
    }

    .love-enjoy {
        flex-direction: column;
    }

    .love-enjoy-info {
        width: 100%;
    }

    .love-enjoy-para {
        width: 100%;
    }



    .blogs {
        width: 100%;
    }

    .blogs div {
        width: 100%;
        height: 150px;
        padding: 10px;
        margin-bottom: 30px;
    }


    .blogs p,
    .love-enjoy-descrip {
        width: 100%;
        height: 100px;
    }

    .love-enjoy-title {
        width: 100%;
        padding: 0px;
    }

    .love-enjoy img {
        width: 100%;
    }

    .button {
        bottom: 56px;
        left: -2px;
    }

    .some-facts {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .activity-box {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .our-sponsors {
        margin-top: 100px;
    }

    .sponsors-info {
        width: 100%;
        height: auto;
    }

    .sponsors-logo {
        flex-direction: column;
        gap: 50px;
    }

    .footer {
        text-align: center;
        margin-bottom: 100px;
    }

}